<h3><strong>experience</strong></h3>

<p>---</p>
<div>
    <h4><strong>lead aircraft designer @ ubc unmanned aircraft systems</strong></h4>
    <p class="sub-title">sep 2017 - current</p>
    <p>an active member of the ubc unmanned air systems design team where industry level drones are built for international competitions. work on the aircraft subteam designing electrical systems, specifying components, configuring flight characteristics of the multicopter(s) and more.</p>
</div>
<br>

<div>
    <h4><strong>cloud engineer intern @ ea</strong></h4>
    <p class="sub-title">may 2020 - aug 2020</p>
    <p>worked on developing etl pipelines using apache airflow and astronomer, including transactional ingestion for yeti, and a metrics-based pipeline for battlefield 5. was also responsible for developing a ci/cd deployment pipeline. features included automatic release branch creation, change detection, and tag incrementation.</p>
</div>
<br>


<div>
    <h4><strong>devops engineer intern @ best buy canada</strong></h4>
    <p class="sub-title">may 2019 - aug 2019</p>
    <p>developed base images to be used in openshift deployments and write configuration management automation using ansible. also helped adopt dynatrace monitoring at a company-wide scale. technologies used include: openshift (kubernetes), python, ansible, docker, dynatrace, grafana.</p>
</div>
<br>


<div>
    <h4><strong>software developer intern @ best buy canada</strong></h4>
    <p class="sub-title">apr 2018 - aug 2018</p>
    <p>working in an agile environment as a part of the search team - developing a new search rest api, maintaining enterprise scale applications and writing unit, automation and bdd tests. technologies used include java, solr, spring boot, groovy and javascript.</p>
</div>
<br>

<div>
    <h4><strong>software engineer intern @ upside wireless</strong></h4>
    <p class="sub-title">apr 2016 - may 2016</p>
    <p>collaborated with senior developers to develop a digital signal processing algorithm that senses peaks in magnetic fields for an android application made for accurate sprint timing.  also, helped implement a companion web-based system where runners keep a history and analyze their workout data. focussed on user authentication using java and mysql. </p>
</div>