
<br>
<img class="profile-img" src="https://media-exp1.licdn.com/dms/image/C4E03AQH50EGzofIDFw/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=HpK1xYPbk5LtQuISoAJnxYMGGoLqBHmf9lQLn8RX6H8" alt="">
<br>
<br>
<h3><strong>mattias zurković</strong></h3>
{{!-- ć = 0107 --}}
<p>i am fourth year electrical engineering student at ubc specializing in robotics and control</p>
<p>i enjoy developing robotic systems and actuators, provisioning cloud infrastructure, and electronics design</p>
<p>~</p>
<p>take a look at my <a href="/projetcs">projetcs</a> and <a href="/experiance">experiacnes</a>, or peek at my <a href="">resume</a></p>
<p>contact me through email at <a href="mailto:mattias@zurkovic">mattias@zurkovic.com</a> or on <a href="https://linkedin.com/in/mattias-zurković-65a5b8106/">linkedin</a></p>
<p></p>

<br>

<span>
    <a id="icons" href="https://github.com/mAzurkovic"><i class="fab fa-github fa-2x"></i></a>
    <a id="icons" href="https://linkedin.com/in/mattias-zurković-65a5b8106/"><i class="fab fa-linkedin fa-2x"></i></a>
    <a id="icons" href="mailto:mattias@zurkovic"><i class="fas fa-envelope fa-2x"></i></a>
</span>



