
<br>
<img class="profile-img" src="https://media-exp1.licdn.com/dms/image/C4E03AQH50EGzofIDFw/profile-displayphoto-shrink_200_200/0?e=1603929600&v=beta&t=HpK1xYPbk5LtQuISoAJnxYMGGoLqBHmf9lQLn8RX6H8" alt="">
<br>
<br>
<h3><strong>Mattias Zurkovic</strong></h3>

<p>Electrical Engineer, Roboticist, and Husband of @AmandaZurkovic</p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

<br>

<span>
    <a id="icons" href="https://github.com/mAzurkovic"><i class="fab fa-github fa-2x"></i></a>
    <a id="icons" href="https://linkedin.com/in/mattias-zurković-65a5b8106/"><i class="fab fa-linkedin fa-2x"></i></a>
    <a id="icons" href=""><i class="fas fa-envelope fa-2x"></i></a>
</span>



