<h3><strong>projects</strong></h3>
<p>---</p>
{{!-- 
<p><em>note: most of my projects are hosted on <a href="/">github</a></em></p> --}}

<div>
    <div class="row">
        <div class="column"><img class="img-projects" src="https://biomimetics.mit.edu/sites/default/files/images/Motor_Render.png" alt=""></div>
        <div class="column column-75" style="text-align: left;">
            <h4><strong>bro drive | brushless motor servo controller</strong></h4>
            <p>An active member of the UBC Unmanned Air Systems design team where industry level drones are built for international competitions. Work on the aircraft subteam designing electrical systems, specifying components, configuring flight characteristics of the multicopter(s) and more.</p>
            <p><a href="/">> view project</a></p>
        </div>
    </div>
</div>
<br>

<div>
    <div class="row">
        <div class="column"><img class="img-projects" src="https://cdn.hackaday.io/images/3967071592890860028.png" alt=""></div>
        <div class="column column-75" style="text-align: left;">
            <h4><strong>armanda | a 4 dof robotic arm</strong></h4>
            <p>An active member of the UBC Unmanned Air Systems design team where industry level drones are built for international competitions. Work on the aircraft subteam designing electrical systems, specifying components, configuring flight characteristics of the multicopter(s) and more.</p>
            <p><a href="/">> view project</a></p>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="column"><img class="img-projects" src="https://cdn.hackaday.io/images/5962981592890872374.jpg" alt=""></div>
        <div class="column column-75" style="text-align: left;">
            <h4><strong>steptuator | a robotic actuator for nema 17/11 motors</strong></h4>
            <p>An active member of the UBC Unmanned Air Systems design team where industry level drones are built for international competitions. Work on the aircraft subteam designing electrical systems, specifying components, configuring flight characteristics of the multicopter(s) and more.</p>
            <p><a href="https://www.thingiverse.com/thing:4428749">> view project</a></p>
        </div>
    </div>
</div>