<h3><strong>projects</strong></h3>
<p>---</p>
{{!-- 
<p><em>note: most of my projects are hosted on <a href="/">github</a></em></p> --}}

<div>
    <div class="row">
        <div class="column"><img class="img-projects" src="https://biomimetics.mit.edu/sites/default/files/images/Motor_Render.png" alt=""></div>
        <div class="column column-75" style="text-align: left;">
            <h4><strong>garbanzo drive | brushless motor servo controller</strong></h4>
            <p>a custom motor controller for permanent magnet stator motors. built on the drv8323 gate driver chip from ti and an arduino running a sinusodial commutation control loop. it is capable of torque, speed and position control.</p>
            <p><a href="/">> view project</a></p>
        </div>
    </div>
</div>
<br>

<div>
    <div class="row">
        <div class="column"><img class="img-projects" src="https://cdn3.iconfinder.com/data/icons/bunch-of-stuff/126/slice87-512.png" alt=""></div>
        <div class="column column-75" style="text-align: left;">
            <h4><strong>bandomap | local fpv flying spots</strong></h4>
            <p>an express and node based web application that utilizes the google maps api and oauth to allow fpv quad-copter pilots to find safe locations to fly.</p>
            <p><a href="https://github.com/mAzurkovic/BandoMap">> view project</a></p>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="column"><img class="img-projects" src="https://cdn.hackaday.io/images/3967071592890860028.png" alt=""></div>
        <div class="column column-75" style="text-align: left;">
            <h4><strong>armanda | a 4 dof robotic arm</strong></h4>
            <p>this is a 4 dof robotic manipulator design and fabricated by myself. it uses nema stepper motors for the actuators, described in another project, and runs on ros (rviz and moveit).</p>
            <p><a href="https://hackaday.io/project/173330-3d-printable-robotic-arm-armanda">> view project</a></p>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="column"><img class="img-projects" src="https://cdn.hackaday.io/images/5962981592890872374.jpg" alt=""></div>
        <div class="column column-75" style="text-align: left;">
            <h4><strong>steptuator | a robotic actuator for nema 17/11 motors</strong></h4>
            <p>a fully 3d printable actuator for the nema 11 and nema 17 family of stepper motors. featuring a 28:1 planetary gearbox for the nema 17 motors and a 18:1 gear reduction for the nema 11 family.</p>
            <p><a href="https://www.thingiverse.com/thing:4428749">> view project</a></p>
        </div>
    </div>
</div>